<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>파티 수정 폼</h2>
    </div>

    <form action="party.html" th:action th:object="${party}" enctype="multipart/form-data" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="partyId">파티 ID</label>
            <input type="text" id="partyId"  class="form-control" th:field="*{id}" readonly>
        </div>
        <div>
            <label for="partyName">파티명</label>
            <input type="text" id="partyName"  class="form-control" th:field="*{partyName}">
        </div>
        <div>
            <label for="partyDescription">파티 소개</label>
            <input type="text" id="partyDescription" class="form-control" th:field="*{partyDescription}">
        </div>
        <div>
            <label for="partyAdmin">파티장</label>
            <input type="text" id="partyAdmin" class="form-control" th:field="*{partyAdmin}" readonly>
        </div>

        <hr class="my-4">

        <div>공개 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="${party.isPublic}" class="form-check-input" >
                <label for="open" class="form-check-label">모두에게 공개</label>
            </div>
        </div>
        <div>
            <label for="partyPassword">비밀번호</label>
            <input type="text" id="partyPassword" name="partyPassword" class="form-control" value="" th:value="${party.partyPassword}">
        </div>
        <div>
            <label for="imageUrl">파티 소개 이미지</label>
            <input type="file" id="imageUrl" name="imageUrl" class="form-control" th:value="${party.imageUrl}">
        </div>
        <div th:if="${party?.imageUrl}">
            <a th:text="${party.getImageUrl().getUploadFileName()}" /><br/>
            <img th:src="|/parties/images/${party.getImageUrl().getStoreFileName()}|" width="300" height="300"/>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='party.html'"
                        th:onclick="|location.href='@{/parties/{partyId}(partyId=${party.id})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>