<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <h4 class="mb-3" th:text="|로그인: ${user.userName}|">로그인 사용자 이름</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/parties}'|">
                파티 관리
            </button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>파티ID</th>
                <th>파티명</th>
                <th>소개</th>
                <th>파티장</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="party : ${parties}">
                <td><a href="party.html" th:href="@{/parties/{partyId}(partyId=${party.id})}" th:text="${party.id}">파티ID</a></td>
                <td><a href="party.html" th:href="@{|/parties/${party.id}|}" th:text="${party.partyName}">파티명</a></td>
                <td th:text="${party.partyDescription}">간략소개</td>
                <td th:text="${party.partyAdmin}">5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>